@font-face {
    font-family: Sarala;
    src: url(../font/Sarala.ttf);
}

body {
    font-family: Sarala;
}

@font-face {
    font-family: Fira_Sans_Condensed;
    src: url(../font/FiraSansCondensed.ttf);
}

h2, h3, h4 {
    font-family: Fira_Sans_Condensed;
}

@font-face {
    font-family: Cuprum;
    src: url(../font/Cuprum.ttf);
}

h1 {
    font-family: Cuprum;
}


.section.topPage {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    min-height: 600px;
    padding: 0;
}

nav, .footer-copyright, .page-footer{
    background-color: #8778BD;
}

.logo-nav {
    width: 110px;
    margin-left: 20px;
}

@media screen and (max-width: 600px) {
    .logo-nav {
        width: 100px;
        margin-left: 0px;
    }
}

.custombg-primary {
    background: #8778BD;
}

.customTextColor {
    color: #8778BD;
}

.iconHome {
    width: 120px;
    margin-bottom: 20px;
}

.statistics {
    background-color: #01A6C4;
    color: white;
}

.statistics .stat {
    font-size: 106px;
    font-weight: 400;
    margin: 0;

}

.app img {
    width: 400px;
}

.app .imgApp {
    position: absolute;
    right: 0;
}

.app .customMargin {
    margin-top: 300px;
}

.customBtn {
    background-color: #1AB2B3;
    color: #fff;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 2px 2px 6px grey
}

.customBtn:hover {
    background-color: #1ea9aa;
    color: #fff;
}

h1 {
    font-size: 48px;
}

.join {
    background-image: url("../images/BG2.jpg");
    background-size: cover;
}

.join form {
    padding: 100px;
}

.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section.join {
    padding: 0;
}

.section.join .row{
    margin-bottom: 0;
}

p {
    font-size: 1.1em;
}

li {
    font-size: 1.1em;
}

a {
    font-size: 1.1em;
}

@media screen and (max-width: 600px) {
    .imgApp {
        display: none;
    }
}

.section {
    padding: 30px;
}

.noMargin {
    margin: 0;
}

.navhover li a {
    transition: color 300ms ease-in;
}

.navhover li a:hover {
    color: #8778BD;
}



